In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Suppress Warnings for clean notebook
import warnings
warnings.filterwarnings('ignore')
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ml-codebasics/bhp.csv
/kaggle/input/ml-codebasics/bhp (1).csv
/kaggle/input/ml-codebasics/homeprices.csv
/kaggle/input/ml-codebasics/carprices.csv
/kaggle/input/ml-codebasics/homeprices (3).csv
/kaggle/input/ml-codebasics/heart (1).csv
/kaggle/input/ml-codebasics/canada_per_capita_income.csv
/kaggle/input/ml-codebasics/hiring.csv
/kaggle/input/ml-codebasics/titanic.csv
/kaggle/input/ml-codebasics/heights (1).csv
/kaggle/input/ml-codebasics/insurance_data.csv
/kaggle/input/ml-codebasics/homeprices (2).csv
/kaggle/input/ml-codebasics/HR_comma_sep.csv
/kaggle/input/ml-codebasics/Melbourne_housing_FULL.csv
/kaggle/input/ml-codebasics/height_weight.csv
/kaggle/input/ml-codebasics/heights (2).csv
/kaggle/input/ml-codebasics/heights.csv
/kaggle/input/ml-codebasics/income.csv
/kaggle/input/ml-codebasics/spam.csv
/kaggle/input/ml-codebasics/salaries.csv
/kaggle/input/ml-codebasics/prediction.csv
/kaggle/input/ml-codebasics/AB_NYC_2019.csv
/kaggle/input/ml-codebasics/test_scores.csv
/kaggle/input/ml-codebasics/areas.csv
/kaggle/input/ml-codebasics/titanic (1).csv
/kaggle/input/ml-codebasics/carprices (1).csv
/kaggle/input/ml-codebasics/homeprices (1).csv
/kaggle/input/ml-codebasics/heart.csv
/kaggle/input/ml-codebasics/diabetes.csv

In [2]:
df=pd.read_csv('../input/ml-codebasics/Melbourne_housing_FULL.csv')
#df.head()

#print(df.shape)
df.drop(['Address','Date','Postcode','Lattitude','Longtitude'],axis='columns',inplace=True)
#print(df.head())
df.shape
#sum(df.CouncilArea.unique)
print(df.nunique())
df.isna().sum()
df.head()

Suburb            351
Rooms              12
Type                3
Price            2871
Method              9
SellerG           388
Distance          215
Bedroom2           15
Bathroom           11
Car                15
Landsize         1684
BuildingArea      740
YearBuilt         160
CouncilArea        33
Regionname          8
Propertycount     342
dtype: int64

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,Northern Metropolitan,4019.0

In [3]:
df[['Car','Bedroom2','Bathroom','Propertycount']]=df[['Car','Bedroom2','Bathroom','Propertycount']].fillna(0)
df['Landsize']=df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea'].mean())
df['YearBuilt']=df['YearBuilt'].fillna(df['YearBuilt'].mean())
df['YearBuilt']=df['YearBuilt'].round()
df['Price']=df['Price'].fillna(df['Price'].mean())
df.dropna(inplace=True)
print(df.shape)
df.isna().sum()
df.head()

(34854, 16)

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,1.050173e+06,SS,Jellis,2.5,2.0,1.0,1.0,126.0,160.2564,1965.0,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1.480000e+06,S,Biggin,2.5,2.0,1.0,1.0,202.0,160.2564,1965.0,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1.035000e+06,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0000,1900.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,1.050173e+06,VB,Rounds,2.5,3.0,2.0,1.0,0.0,160.2564,1965.0,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1.465000e+06,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0000,1900.0,Yarra City Council,Northern Metropolitan,4019.0

In [4]:
df=pd.get_dummies(df, drop_first=True)
df.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,1.050173e+06,2.5,2.0,1.0,1.0,126.0,160.2564,1965.0,4019.0,...,0,1,0,0,1,0,0,0,0,0
1,2,1.480000e+06,2.5,2.0,1.0,1.0,202.0,160.2564,1965.0,4019.0,...,0,1,0,0,1,0,0,0,0,0
2,2,1.035000e+06,2.5,2.0,1.0,0.0,156.0,79.0000,1900.0,4019.0,...,0,1,0,0,1,0,0,0,0,0
3,3,1.050173e+06,2.5,3.0,2.0,1.0,0.0,160.2564,1965.0,4019.0,...,0,1,0,0,1,0,0,0,0,0
4,3,1.465000e+06,2.5,3.0,2.0,0.0,134.0,150.0000,1900.0,4019.0,...,0,1,0,0,1,0,0,0,0,0

In [5]:
X=df.drop('Price',axis='columns')
y=df.Price

In [6]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3)
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(train_X, train_y)
reg.score(test_X, test_y)

0.43691493135040005