In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Suppress Warnings for clean notebook
import warnings
warnings.filterwarnings('ignore')
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ml-codebasics/bhp.csv
/kaggle/input/ml-codebasics/bhp (1).csv
/kaggle/input/ml-codebasics/homeprices.csv
/kaggle/input/ml-codebasics/carprices.csv
/kaggle/input/ml-codebasics/homeprices (3).csv
/kaggle/input/ml-codebasics/heart (1).csv
/kaggle/input/ml-codebasics/canada_per_capita_income.csv
/kaggle/input/ml-codebasics/hiring.csv
/kaggle/input/ml-codebasics/titanic.csv
/kaggle/input/ml-codebasics/heights (1).csv
/kaggle/input/ml-codebasics/insurance_data.csv
/kaggle/input/ml-codebasics/homeprices (2).csv
/kaggle/input/ml-codebasics/HR_comma_sep.csv
/kaggle/input/ml-codebasics/Melbourne_housing_FULL.csv
/kaggle/input/ml-codebasics/height_weight.csv
/kaggle/input/ml-codebasics/heights (2).csv
/kaggle/input/ml-codebasics/heights.csv
/kaggle/input/ml-codebasics/income.csv
/kaggle/input/ml-codebasics/spam.csv
/kaggle/input/ml-codebasics/salaries.csv
/kaggle/input/ml-codebasics/prediction.csv
/kaggle/input/ml-codebasics/AB_NYC_2019.csv
/kaggle/input/ml-codebasics/test_scores.csv
/kaggle/input/ml-codebasics/areas.csv
/kaggle/input/ml-codebasics/titanic (1).csv
/kaggle/input/ml-codebasics/carprices (1).csv
/kaggle/input/ml-codebasics/homeprices (1).csv
/kaggle/input/ml-codebasics/heart.csv
/kaggle/input/ml-codebasics/diabetes.csv

In [2]:
df=pd.read_csv('../input/ml-codebasics/Melbourne_housing_FULL.csv')
#df.head()

#print(df.shape)
df.drop(['Address','Date','Postcode','Lattitude','Longtitude'],axis='columns',inplace=True)
#print(df.head())
df.shape
#sum(df.CouncilArea.unique)
print(df.nunique())
df.isna().sum()
df.head()

Suburb            351
Rooms              12
Type                3
Price            2871
Method              9
SellerG           388
Distance          215
Bedroom2           15
Bathroom           11
Car                15
Landsize         1684
BuildingArea      740
YearBuilt         160
CouncilArea        33
Regionname          8
Propertycount     342
dtype: int64

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,Northern Metropolitan,4019.0

In [3]:
df[['Car','Bedroom2','Bathroom','Propertycount','Distance']]=df[['Car','Bedroom2','Distance','Bathroom','Propertycount']].fillna(0)
df['Landsize']=df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea'].mean())
df['YearBuilt']=df['YearBuilt'].fillna(df['YearBuilt'].mean())
df['YearBuilt']=df['YearBuilt'].round()
print(df.shape)
#Do not fill Price since it is the dependent variable
#df['Price']=df['Price'].fillna(df['Price'].mean())
df.dropna(inplace=True)
print(df.shape)
df.isna().sum()
df

(34857, 16)
(27244, 16)

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname,Propertycount
1,Abbotsford,2,h,1480000.0,S,Biggin,4019.0,2.0,2.5,1.0,202.000000,160.2564,1965.0,Yarra City Council,Northern Metropolitan,1.0
2,Abbotsford,2,h,1035000.0,S,Biggin,4019.0,2.0,2.5,0.0,156.000000,79.0000,1900.0,Yarra City Council,Northern Metropolitan,1.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,4019.0,3.0,2.5,0.0,134.000000,150.0000,1900.0,Yarra City Council,Northern Metropolitan,2.0
5,Abbotsford,3,h,850000.0,PI,Biggin,4019.0,3.0,2.5,1.0,94.000000,160.2564,1965.0,Yarra City Council,Northern Metropolitan,2.0
6,Abbotsford,4,h,1600000.0,VB,Nelson,4019.0,3.0,2.5,2.0,120.000000,142.0000,2014.0,Yarra City Council,Northern Metropolitan,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6543.0,4.0,6.3,3.0,593.000000,160.2564,1965.0,Maribyrnong City Council,Western Metropolitan,1.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6543.0,2.0,6.3,1.0,98.000000,104.0000,2018.0,Maribyrnong City Council,Western Metropolitan,2.0
34854,Yarraville,2,t,705000.0,S,Jas,6543.0,2.0,6.3,2.0,220.000000,120.0000,2000.0,Maribyrnong City Council,Western Metropolitan,1.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6543.0,0.0,6.3,0.0,593.598993,160.2564,1965.0,Maribyrnong City Council,Western Metropolitan,0.0
34856,Yarraville,2,h,1020000.0,PI,RW,6543.0,2.0,6.3,0.0,250.000000,103.0000,1930.0,Maribyrnong City Council,Western Metropolitan,1.0

In [4]:
df=pd.get_dummies(df, drop_first=True)
df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,4019.0,2.0,2.5,1.0,202.000000,160.2564,1965.0,1.0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,4019.0,2.0,2.5,0.0,156.000000,79.0000,1900.0,1.0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,4019.0,3.0,2.5,0.0,134.000000,150.0000,1900.0,2.0,...,0,1,0,0,1,0,0,0,0,0
5,3,850000.0,4019.0,3.0,2.5,1.0,94.000000,160.2564,1965.0,2.0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,4019.0,3.0,2.5,2.0,120.000000,142.0000,2014.0,1.0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6543.0,4.0,6.3,3.0,593.000000,160.2564,1965.0,1.0,...,0,0,0,0,0,0,0,0,1,0
34853,2,888000.0,6543.0,2.0,6.3,1.0,98.000000,104.0000,2018.0,2.0,...,0,0,0,0,0,0,0,0,1,0
34854,2,705000.0,6543.0,2.0,6.3,2.0,220.000000,120.0000,2000.0,1.0,...,0,0,0,0,0,0,0,0,1,0
34855,3,1140000.0,6543.0,0.0,6.3,0.0,593.598993,160.2564,1965.0,0.0,...,0,0,0,0,0,0,0,0,1,0
34856,2,1020000.0,6543.0,2.0,6.3,0.0,250.000000,103.0000,1930.0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
X=df.drop('Price',axis='columns')
y=df.Price

In [6]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3,random_state=2)
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(train_X, train_y)
reg.score(train_X, train_y)

0.6859388003264826

In [7]:
reg.score(test_X, test_y)

0.10132733376288172

In [8]:
from sklearn import linear_model
lasso_reg=linear_model.Lasso(alpha=100,max_iter=200,tol=0.01)
lasso_reg.fit(train_X,train_y)
lasso_reg.score(train_X,train_y)

0.6760569362254312

In [9]:
lasso_reg.score(test_X,test_y)

0.6761770853409984

In [10]:
from sklearn.linear_model import Ridge
ridge_reg= Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(train_X, train_y)
ridge_reg.score(train_X, train_y)

0.6658532262829171

In [11]:
ridge_reg.score(test_X, test_y)

0.6706292161875085